<a href="https://colab.research.google.com/github/PranavPutsa1006/Aahaar/blob/main/Web_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Final with grocery list***

In [ ]:
from bs4 import BeautifulSoup as bs 
import requests
import pandas as pd
from datetime import datetime
import pytz
IST = pytz.timezone('Asia/Kolkata') 
datetime_ist = datetime.now(IST) 
print("Date & Time: ", datetime_ist.strftime('%Y:%m:%d %H:%M:%S'))
date = datetime_ist.strftime("%d")+"-"+datetime_ist.strftime("%m")+"-"+datetime_ist.strftime("%Y")
#.replace("Fresho ","")
eanCodeLists = [10000148, 40022638, 10000069, 10000071, 10000144, 40050087, 10000103, 10000159, 10000110, 10000097, 10000046, 10000066, 10000074, 40006608, 50000469,
                20000745, 10000176, 10000166, 10000188, 10000205, 10000168, 10000194, 40050085, 10000283, 40050704, 10000087, 10000091, 10000044, 20000926, 50000521, 
                10000427, 20000437, 40018890,  40159879, 20001214, 126906, 264679, 40003550, 10000569,10000439,40203895,40044731,30010377,10000563, 30010385, 10000355, 10000562]

ProductNameList = []
ProductPriceList = []
 
for item in eanCodeLists:
    urlopen = requests.get('https://www.bigbasket.com/pd/'+str(item)).text
    soup = bs(urlopen,'lxml')
    ProductInfo = soup.find("h1", {"class": "GrE04"}).text
    #print(ProductInfo)
    ProductName = ProductInfo.split(",")[0].split(" - ")[0]
    if "/" in ProductName:
        ProductName = ProductName.split("/")[0]
    ProductNameList.append(ProductName)
    ProducQty = int(ProductInfo.split(", ")[-1].split()[0])
    try:
      ProductPrice = float(soup.find("td", {"class": "_2ifWF"}).text.split()[1])
      if(ProductPrice==1750):
          print(ProductInfo)
    except:
      ProductPrice = float(soup.find("tbody", {"class": "_6eiYL"}).text.split()[1])
    if ProducQty == 1:
        ProductPrice /= 10
    elif ProducQty == 250:
        ProductPrice /= 2.5
    elif ProducQty == 500:
        ProductPrice /= 5
    elif ProducQty == 200:
        ProductPrice /= 2
    elif ProducQty==25:
        ProductPrice/=(25*10)
    elif item==30005417:
        ProductPrice/=5*10
    elif item==126906:
        ProductPrice/=10*10
    elif item==10000569:
        ProductPrice/=5*10
    elif item==40044731:
        ProductPrice/=2*10
    ProductPriceList.append(ProductPrice)
df = pd.DataFrame(ProductPriceList,columns=[ date])
pd.set_option('max_rows',None)
print(df.to_string(index=False))

Date & Time:  2021:05:03 20:24:20
bb Royal Sona Masoori Raw Rice/Akki, 25 kg (12 - 17 Months Old)
 03-05-2021
      2.875
      1.250
      6.000
      4.752
      3.126
      4.750
      2.000
      2.875
      8.750
     16.250
      3.000
      2.125
      2.375
     18.000
      6.500
      1.875
      8.000
      5.000
     12.500
     13.750
      6.250
      4.750
      9.500
     19.750
     10.250
      6.000
      3.000
     11.250
      8.000
      5.000
     16.000
     18.000
     17.500
     13.000
      7.000
      4.900
     52.500
     17.500
      5.500
     16.000
     16.900
     19.000
     20.000
     20.000
     22.000
     17.500
     20.000

In [ ]:
from bs4 import BeautifulSoup as bs 
import requests
import pandas as pd
from datetime import datetime
import pytz
IST = pytz.timezone('Asia/Kolkata') 
datetime_ist = datetime.now(IST) 
print("Date & Time: ", datetime_ist.strftime('%Y:%m:%d %H:%M:%S'))
date = datetime_ist.strftime("%d")+"-"+datetime_ist.strftime("%m")+"-"+datetime_ist.strftime("%Y")
#.replace("Fresho ","")
eanCodeLists = [10000148, 40022638, 10000069, 10000071, 10000144, 40050087, 10000103, 10000049, 10000159, 10000110, 10000097, 10000082, 10000046, 10000066, 10000074, 40006608, 50000469, 10000118, 10000127, 20000745, 10000176, 10000166, 10000188, 10000205, 10000093, 10000104, 50000507, 10000168, 40040312, 10000194, 40050085, 10000283, 20000981, 40050704, 10000087, 40016101, 20000974, 10000137, 10000091, 10000293, 10000044, 10000095, 10000197,  20000926, 10000001, 50000521, 20000753, 10000427, 20000437, 40018890,  40159879, 30005417, 10000489, 20001214, 126906, 264679, 40003550, 40003162, 10000569,10000439,40203895,40125924,40002630,40044731,30010377,40067283,10000563,40128951,40112398, 10000549, 150502, 30010385, 10000355, 10000562]

ProductNameList = []
ProductPriceList = []
 
for item in eanCodeLists:
    urlopen = requests.get('https://www.bigbasket.com/pd/'+str(item)).text
    soup = bs(urlopen,'lxml')
    ProductInfo = soup.find("h1", {"class": "GrE04"}).text
    #print(ProductInfo)
    ProductName = ProductInfo.split(",")[0].split(" - ")[0]
    if "/" in ProductName:
        ProductName = ProductName.split("/")[0]
    ProductNameList.append(ProductName)
    ProducQty = int(ProductInfo.split(", ")[-1].split()[0])
    try:
      ProductPrice = float(soup.find("td", {"class": "_2ifWF"}).text.split()[1])
      if(ProductPrice==1750):
          print(ProductInfo)
    except:
      ProductPrice = float(soup.find("tbody", {"class": "_6eiYL"}).text.split()[1])
    if ProducQty == 1:
        ProductPrice /= 10
    elif ProducQty == 250:
        ProductPrice /= 2.5
    elif ProducQty == 500:
        ProductPrice /= 5
    elif ProducQty == 200:
        ProductPrice /= 2
    elif ProducQty==25:
        ProductPrice/=(25*10)
    ProductPriceList.append(ProductPrice)
df = pd.DataFrame(ProductPriceList,columns=[ date])
pd.set_option('max_rows',None)
print(df.to_string(index=False))

Date & Time:  2021:02:23 09:13:39
bb Royal Sona Masoori Raw Rice, 25 kg (12 - 17 Months Old)
 23-02-2021
      6.250
      3.750
      7.500
      3.752
      8.000
      3.250
      3.000
      6.500
      2.875
     22.376
     16.250
      7.500
      6.500
      1.375
      3.375
     18.000
      5.000
      6.500
     13.000
      2.125
      8.250
      4.000
     10.000
     10.500
      3.875
     17.500
     32.500
      4.750
      9.750
      5.000
      8.250
      7.500
     17.500
      6.250
      4.000
     48.750
     12.500
     12.500
      6.500
     22.000
      7.500
      7.000
      4.250
      8.000
     11.500
      6.500
     11.500
     16.000
     18.000
     17.500
     13.000
    275.000
     10.000
      7.000
    490.000
     49.500
     17.500
      7.600
    275.000
     16.000
     16.900
     17.900
     50.000
    380.000
     20.000
     24.000
     20.000
     18.000
    120.000
    120.000
    210.000
     22.000
     16.250
     20.000

In [ ]:
df.iloc[51]=
df.iloc[54]
df.iloc[58]
df.iloc[63]

In [ ]:
#n-2 from dataset
eanCodeLists[1]

40022638

In [ ]:
eanCodeLists[53]
#30005417,126906,10000569,40044731,150502
#51,54,58,63,70
#

20001214

**UPDATED** **UPDATED** **UPDATED**

In [ ]:
print(df.to_string())

## **End of final code**

In [ ]:
from bs4 import BeautifulSoup as bs 
import requests
import pandas as pd
from datetime import datetime
 
x = datetime.now()
date = x.strftime("%d")+"-"+x.strftime("%m")+"-"+x.strftime("%Y")
print(date)
 
# , 40022638, 10000069, 40023469, 10000071, 10000144, 40050087, 10000103, 10000049, 10000159
eanCodeLists = [10000148, 40022638, 10000069, 40023469, 10000071, 10000144, 40050087, 10000103, 10000049, 10000159]
 
ProductNameList = []
ProductPriceList = []
 
for item in eanCodeLists:
    urlopen = requests.get('https://www.bigbasket.com/pd/'+str(item)).text
    soup = bs(urlopen,'lxml')
    ProductInfo = soup.find("h1", {"class": "GrE04"}).text
    ProductName = ProductInfo.split(",")[0].split(" - ")[0].replace("Fresho ","")
    print(ProductName)
    if "/" in ProductName:
        ProductName = ProductName.split("/")[0]
    ProductNameList.append(ProductName)
    ProducQty = int(ProductInfo.split(", ")[-1].split()[0])
    try:
      ProductPrice = float(soup.find("td", {"class": "_2ifWF"}).text.split()[1])
    except:
      ProductPrice = float(soup.find("tbody", {"class": "_6eiYL"}).text.split()[1])
    if ProducQty == 1:
        ProductPrice /= 2
    elif ProducQty == 250:
        ProductPrice *= 2
    ProductPriceList.append(ProductPrice)
 
df = pd.read_excel('bigbasket.xlsx')
df1 = pd.DataFrame(ProductPriceList, columns=[date])
df2 = pd.concat([df,df1], axis=1)
print(df2)
df2.to_excel('bigbasket.xlsx',index=False)

15-01-2021
Onion
Tomato
Capsicum
Beans
Carrot
Ladies Finger
Pumpkin Green
Cucumber
Bitter Gourd
Potato
            Name    Cost  15-01-2021  15-01-2021
0          Onion  30.625      30.625      30.625
1         Tomato  12.500      12.500      12.500
2       Capsicum  42.500      42.500      42.500
3          Beans  37.500      37.500      37.500
4         Carrot  15.000      15.000      15.000
5  Ladies Finger  31.250      31.250      31.250
6  Pumpkin Green  20.000      20.000      20.000
7       Cucumber  16.250      16.250      16.250
8   Bitter Gourd  27.500      27.500      27.500
9         Potato  25.625      25.625      25.625

In [ ]:
df2=pd.read_excel('bigbasket.xlsx')

In [ ]:
df2.head(10)

In [ ]:
df3=pd.read_excel('Veg_price.xlsx')
df3.head(20)

Code

In [ ]:
from bs4 import BeautifulSoup as bs 
import requests
import pandas as pd
from datetime import datetime

def main():
    x = datetime.now()
    date = x.strftime("%d")+"-"+x.strftime("%m")+"-"+x.strftime("%Y")
    print(date)
    
    # , 40022638, 10000069, 40023469, 10000071, 10000144, 40050087, 10000103, 10000049, 10000159

    eanCodeLists = [10000148, 40022638, 10000069, 10000071, 10000144, 40050087, 10000103, 10000049, 10000159, 10000110, 10000097, 10000082, 10000046, 10000066, 10000074, 40006608, 50000469, 10000118, 10000127, 20000745, 10000176, 10000166, 10000188, 10000205, 10000093, 10000104, 50000507, 10000168, 40040312, 10000194, 40050085, 10000283, 20000981, 40050704, 10000087, 40016101, 20000974, 10000137, 10000091, 10000293, 10000044, 10000095, 10000197,  20000926, 10000001, 50000521, 20000753]
    
    ProductNameList = []
    ProductPriceList = []
    
    for item in eanCodeLists:
        urlopen = requests.get('https://www.bigbasket.com/pd/'+str(item)).text
        soup = bs(urlopen,'lxml')
        ProductInfo = soup.find("h1", {"class": "GrE04"}).text
        ProductName = ProductInfo.split(",")[0].split(" - ")[0].replace("Fresho ","")
        if "/" in ProductName:
            ProductName = ProductName.split("/")[0]
        ProductNameList.append(ProductName)
        ProducQty = int(ProductInfo.split(", ")[-1].split()[0])
        try:
          ProductPrice = float(soup.find("td", {"class": "_2ifWF"}).text.split()[1])
        except:
          ProductPrice = float(soup.find("tbody", {"class": "_6eiYL"}).text.split()[1])
        if ProducQty == 1:
            ProductPrice /= 2
        elif ProducQty == 250:
            ProductPrice *= 2
        elif ProducQty == 100:
            ProductPrice *= 5
        elif ProducQty == 200:
            ProductPrice *= 2.5
        ProductPriceList.append(ProductPrice)
    
    df = pd.read_excel('sabsee_dataset.xlsx')
    df1 = pd.DataFrame(ProductPriceList, columns=[date])
    df2 = pd.concat([df,df1], axis=1)
    print(df2)
    df2.to_excel('sabsee_dataset.xlsx',index=False)

if __name__ == '__main__':
    main()

26-01-2021
           Vegetable  24-01-21  25-01-21  26-01-2021
0              Onion    31.250    31.875      31.875
1             Tomato    16.250    14.380      13.750
2           Capsicum    37.500    32.500      32.500
3             Carrot    20.000    22.500      22.500
4      Ladies Finger    50.000    50.000      50.000
5      Pumpkin Green    20.000    21.250      21.250
6           Cucumber    21.250    20.000      20.000
7       Bitter Gourd    25.000    25.000      25.000
8             Potato    22.500    19.375      19.375
9          Drumstick   128.750   123.750     123.750
10  Coriander Leaves   100.000   100.000      93.750
11           Chilli     40.000    40.000      40.000
12          Beetroot    18.750    18.750      18.750
13           Cabbage     8.125     8.125       8.125
14       Cauliflower    11.875    15.000      15.625
15        Sweet Corn    90.000    90.000      90.000
16           Brinjal    36.250    36.250      36.250
17            Ginger    32.500    32.500      32.500
18             Lemon    62.500    62.500      62.500
19      Bottle Gourd    15.000    15.000      15.000
20       Ridge Gourd    52.500    56.250      56.250
21            Radish    20.000    22.500      22.500
22             Palak    52.500    52.500      50.000
23            Turnip    77.500    50.000      50.000
24           Coconut    18.125    20.000      20.000
25      Curry Leaves    93.750    93.750      75.000
26            Garlic   162.500   162.500     162.500
27            Banana    28.750    20.000      20.000
28       Snake Gourd    32.500    27.500      27.500
29      Sweet Potato    36.250    36.250      36.250
30               Yam    48.750    47.500      47.500
31        Green Peas    28.120    30.000      30.000
32      Spring Onion    93.750    93.750      93.750
33         Ash Gourd    43.750    37.500      37.500
34         Chow Chow    12.500    12.500      12.500
35          Broccoli   150.000   146.875     146.875
36             Methi    75.000    75.000      75.000
37       Mint Leaves    75.000    75.000      62.500
38          Coccinia    37.500    42.500      45.000
39              Amla   100.000   100.000      95.000
40             Beans    62.500    62.500      62.500
41         Colocasia    40.000    35.000      35.000
42           Tapioca    30.000    32.500      32.500
43         Baby Corn    40.000    40.000      40.000
44        Amaranthus    62.500    50.000      57.500
45         Knol Khol    22.500    22.500      22.500
46    Gongura Leaves    62.500    62.500      62.500